<!DOCTYPE html>
<html ng-app="BirdWatchrApp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BirdWatchr</title>
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="moment/moment.js"></script>
    <script type="text/javascript" src="angular/angular.min.js"></script>
    <script type="text/javascript" src="handlebars/handlebars.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/sightings_controller.js"></script>
  </head>
  <body>
    <div ng-controller="SightingsController as sightings">
      <form ng-submit="sightings.add()">
        Type:<input type="text" ng-model="sightings.newSighting.type">
        Location:<input type="text" ng-model="sightings.newSighting.location">
        <input type="submit" value="Add Sighting">
      </form>

      <h1>Recent Sightings:</h1>
      <ul>
        <li ng-repeat="sighting in sightings.all">{{sighting.type}} at {{sighting.location}} {{sightings.since(sighting.date)}} <a href="{{sighting.mapLink}}">View on map</a></li>
      </ul>
    </div>
  </body>
</html>

